
.dash-picture{
  width: 100%;
  max-height: 25em;
  background-color: #AEB7BB;
  position: relative;
  margin: 0;
  overflow: hidden;
  object-fit: cover;
}
.dash-picture img{
  background-size: cover;
  overflow: hidden;
}
.profile{
  width: 100%;
  background-size: cover;
  bottom: 0;
  margin: 0;
  position: absolute;
  background-color: #000000;
  opacity: 0.6;
}
.profile-container{
  margin-left: 5%;
  margin-right: 5%;
  width: 100%;
}
#profileicon{
  font-size: 12em ;
  color: white;
  vertical-align: middle;
}
p{
  color: white;
  position: absolute;
  z-index: 2;
}
#logo{
    margin-top: .25em;
    margin-left: .3em;
}

#loader {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

#usericon{
  font-size: 50px;
}
