#slide-out{
  background-color: black;
}

#logo{
  width: 18em;
  text-align: center;
  margin-top: 2em;
  padding-bottom: 1em;
}
#logo1{
    margin-top: .25em;
    margin-left: .3em;
}
.content{
  padding-left: 300px;
}
@media only screen and (max-width : 992px) {
     .content{
       padding-left: 0;
     }
   }
