#slide-out{
  background-color: black;
}

#logo{
  width: 18em;
  text-align: center;
  margin-top: 1.5em;
  padding-bottom: 1em;
}
#logo1{
    margin-top: .6em;
    margin-left: .6em;
}
#mob-tabs{
  font-weight: 300;
}
#search-txt{
  font-size: 1em;
  font-weight: 300;
  font-family: Roboto, sans-serif;
}
#searchbar{
  width: 100%;
  height: 64px;
}
input[type="search"] {
  height: 64px !important; /* or height of nav */
}

.content{
  padding-left: 300px;
}
@media only screen and (max-width : 992px) {
     .content{
       padding-left: 0;
     }
   }
header ul li:hover{
  background-color: #212121;
  color: black;
}
