#PageContents{
  position: relative;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
@media ( min-width: 992px){
  .card-panel{
    width:80%;
    margin-left: auto;
    margin-right: auto;
  }
}
.card-panel img {
  display: block;
  width: 90px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 50%;
  opacity: .5;
}

input {
  border-radius: 5px;
  padding: 10px 15px;
  width: 90%;
  border: 1px solid #D9D9D9;
  outline: none;
  display: block;
  margin: 20px auto 20px auto;
}

input:focus{
  border: 1px solid #b71c1c;
}

a {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}
@media only screen and (max-width : 992px) {
      * {
       /*CSS transitions*/
       -o-transition-property: none !important;
       -moz-transition-property: none !important;
       -ms-transition-property: none !important;
       -webkit-transition-property: none !important;
       transition-property: none !important;
       /*CSS transforms*/
       -o-transform: none !important;
       -moz-transform: none !important;
       -ms-transform: none !important;
       -webkit-transform: none !important;
       transform: none !important;
       /*CSS animations*/
       -webkit-animation: none !important;
       -moz-animation: none !important;
       -o-animation: none !important;
       -ms-animation: none !important;
       animation: none !important;
       }
}
